/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/*Variáveis*/

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3690ff;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

.container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("/static/assets/img/Background.png");
    align-items: center;
}

.container__caixa {
    margin: 0 5rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
} 

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.container__descricao {
    padding: 2rem;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;  
    list-style-type: none;  
    margin: 5rem 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0 4rem 0;
}

.rodape__logo {
    width: 100%;
    text-align: center;
}

.rodape__lista {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2.5rem;
}

.lista__link__item{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link__item:hover {
    color: var(--botao-azul);
}

.lista__link__item:active {
    color: purple;
}

.rodape__texto {
    color: var(--cinza-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__texto p {
    margin: 1rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}
